body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

section {
    background-color: #f9f8f8;
    border: 1px solid #888888;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(106, 103, 103, 0.815);
}

h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    color: #363535;
}

p {
    font-size: 16px;
    color: #454343;
}

a {
    display: block;
    text-decoration: none;
    color: #007bff;
    margin-top: 20px;
    font-size: 18px;
}
